/* font */
@font-face {
    /* https://www.fontsquirrel.com/ */
    font-family: 'BebasNeue';
    src: url(../font/amaranth-bold-webfont.woff) format('woff');
}

body {
    font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    /* overflow-x: hidden; */
}

/* navbar section */

header {
    background-color: white;
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.025);
}

nav {
    display: flex;
    color: #3498db;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-left: 20px;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
	flex-direction: row;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #3498db;
}

nav ul li a:hover {
    color: black;
    transition: 0.2s;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}


/* Home Section */

.home {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url(../img/back1.jpg);
}

.home .container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAndSlide 0.8s ease-in-out forwards;
}

.home img {
    width: 290px;
}

.home h1 {
    font-size: 35px;
}

.home p {
    font-size: 20px;
}

/* animasi Home */
@keyframes fadeInAndSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* About section */
.profile {
    align-items: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.profile .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

.about-me {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.profile-text {
    grid-column: 1;
    grid-row: 2;
    margin-left: 60px;
    text-align: justify;
}

.profile-cici {
    grid-column: 2;
    grid-row: 2;
}

.profile-cici img {
    max-width: 60%;
    height: auto; 
    margin-left: 110px;
    border: 3px solid black;
}

  
/* Skills Section */
.skills .container {
    min-height: 90vh;
    padding: 30px 10%;
    background-image: url(../img/back2.jpg);
    background-size: cover;
}

.judul-skills {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.judul-skills h2 {
    position: relative;
    font-size: 40px;
    margin-top: 50px;
    display: inline-block;
}

.judul-skills h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.judul-skills h2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #3498db;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}

.skills .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skills .container .row .col {
    flex-basis: 45%;
}

.skills .row .col h3 {
    position: relative;
    color: black;
    font-size: 26px;
    display: inline-block;
    margin-bottom: 30px;
}

.skills .row .col h3::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.skills .row .col h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #3498db;
}

.skill .subject {
    font-size: 18px;
    color: #808080;
    padding-bottom: 15px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    border-bottom: 20px;
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #3498db;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
}

/* animasi skill pada progress-line */
@keyframes animate {
    100% {
        width: 100%;
    }
}


/* section projects */
.projects {
    min-height: 98vh;
    padding: 80px 0;
}

.judul-projects {
    text-align: center;
    font-size: 40px;
    margin: -10px 0 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.projects .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
}

.projects .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-align: center;
    flex-grow: 1;
}

.projects .card:hover {
    transform: translateY(-5px);
}

.isi-card {
    height: 290px;
    padding: 20px;
    position: relative;
    flex-grow: 1;
}

.projects img {
    width: 420px;
}

.projects .isi-card h4 {
    font-size: 25px;
    margin: 0px;
}

.projects .isi-card p {
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #808080;
}

.projects .button-projects {
    background-color: #007BFF;
    border-color: #007BFF;
    font-size: 16px;
    transition: 0.3s;
    left: 15%;
    position: relative;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;
}

.projects .button-projects:hover {
    background-color: #0056b3;
} 

/* experience section */
.experience {
    min-height: 98vh;
    padding: 80px 0;
}

.judul-experience {
    text-align: center;
    font-size: 40px;
    margin: 5px 0 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.experience .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 150px;
}

.experience .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-align: center;
    flex-grow: 1;
}

.experience .card:hover {
    transform: translateY(-5px);
}

.experience .isi-card {
    height: 40px;
}

.experience img {
    width: 500px;
}

.experience .isi-card h4 {
    font-size: 25px;
}


/* Contact Section */
.contact {
    min-height: 100%;
    background-image: url(../img/back3.jpg);
    background-size: cover;
}

.contact h2 {
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tempat-kontak {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    width: 500px;
    margin: 20px auto 0;
}

.form {
    margin: 10px 0;
}

.form label {
    display: block;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form textarea {
    height: 100px;
}

.button-contact {
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 210px;
}

.submit {
    background-color: #007bff;
    color: #fff;
    border-color: #007BFF;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer Section */
.footer {
    padding: 10px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sebelah-kiri {
    flex: 1;
}

.sebelah-kanan {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.logo-sosial-media {
    display: inline-block;
    margin: 0 200px 0 -150px;
}

.logo-sosial-media img {
    width: 20px;
    height: 20px;
}

/* ukuran tablet */
@media screen and (max-width: 768px) {
    /* Home Section */
    .home {
        height: 70vh;
    }

    /* profile */
    .profile {
        height: auto;
        padding: 20px;
    }

    .profile .grid {
        display: flex;
        flex-direction: column;
    }

    .about-me h2 {
        margin: 30px 0 -30px 0;
    }

    .profile-text {
        margin: 0 20px;
    }

    .profile-cici img {
        margin: 20px 0 0 25%;
        max-width: 50%;
    }

    .profile-text {
        font-size: 16px;
    }

    /* Skills Section */
    .skills .container {
        padding: 30px 8%;
    }

    /* Projects Section */
    .projects {
        padding: 45px;
    }

    .projects .container {
        width: 90%;
        flex-direction: column;
    }

    .projects .card {
        width: 90%;
        margin: 0 10px 20px 0;
    }

    .projects img {
        width: 500px;
    }

    .projects .button-projects{
        margin-right: 40px;
    }

    /* experience section */
    .experience {
        overflow-x: hidden;
        width: 100%;
    }

    .experience .container {
        width: 90%;
        flex-direction: column;
    }

    .experience .card {
        width: 80%;
        margin-right: 35%;
    }

    .experience img {
        width: 510px;
    }

    /* Footer Section */
    .footer {
        padding: 10px 0;
    }
    
    .logo-sosial-media {
        margin: 0;
        padding: 10px;
    }
    
    .logo-sosial-media img {
        width: 30px;
        height: 30px;
    }
}

/* ukuran layar paling kecil */
@media screen and (max-width: 568px) {

    body {
        overflow-x: hidden;
        width: 100%;
    }

    /* navbar section */
    .menu-toggle {
        display: flex;
        z-index: 10;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 40vh;
        margin-top: 50px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 9;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* home section */
    .home img {
        width: 250px;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
        font-size: 17px;
    }

    /* profile */
    .profile .grid {
        display: flex;
        flex-direction: column;
    }

    .about-me {
        font-size: 35px;
    }

    .profile-cici img {
        margin-top: 20px;
    }

    /* skills section */
    .skills .container .row {
        flex-direction: column;
    }

    .container .judul-skills h2 {
        font-size: 35px;
    }

    .skills .container .row {
        margin-top: 30px;
    }

    .skills .container .row .col:nth-child(2) {
        margin: 20px 0 10px 0;
    }

    /* projects section */
    .projects .container {
        width: 95%;
        flex-direction: column;
    }

    .judul-projects {
        margin-top: 10px;
        font-size: 35px;
    }

    .projects .card {
        width: 95%;
        margin-right: 60px;
    }

    .projects img {
        width: 350px;
    }

    .projects .isi-card h4 {
        font-size: 22px;
        margin-top: -20px;
    }

    .projects .isi-card p {
        font-size: 16px;
        line-height: 1.9;
    }

    .projects .button-projects{
        margin-right: 10px;
    }

    /* experience section */
    .experience .container {
        width: 95%;
        flex-direction: column;
      }

    .judul-experience {
        margin-top: 5px;
        font-size: 35px;
    }

    .experience .card {
        width: 95%;
        margin-right: 60%;
    }

    .experience img {
        width: 430px;
    }

    .experience .isi-card h4 {
        font-size: 22px;
    }

    /* contact section */
    .tempat-kontak {
        width: 80%;
    }
    
    .button-contact {
        margin-left: 155px;
    }

      /* footer section */
    .footer .container {
        flex-direction: column;
    }
}

/* ukuran mobile */
@media screen and (max-width: 470px) {
   
    body {
        overflow-x: hidden;
        width: 100%;
    }

    /* home section */
    .home h1 {
        font-size: 25px;
    }

    /* profile */
    .profile-text {
        margin: 0;
        font-size: 15px;
        line-height: 2;
    }

    /* projects section */
    .projects .container {
        width: 100%;
      }

    .projects .card {
        width: 110%;
        margin: 0 70px 10px 0;
    }

    .projects img {
        max-width: 100%;
    }

    .projects .button-projects{
        margin: 50px 0 0 40px;
    }

    /* experience section */
    .experience .container {
        width: 100%;
      }

    .experience .card {
        margin-right: 78%;
    }

    .experience img {
        max-width: 100%;
    }

    .experience .isi-card h4 {
        font-size: 18px;
    }


    /* contact section */  
    .tempat-kontak {
        width: 80%;
        margin-right: 25px;
    }

    .button-contact {
        margin-left: 120px;
    }

    /* footer section */
    .sebelah-kiri {
        margin-bottom: -10px;
    }

    .sebelah-kanan {
        margin-top: -10px;
    }
} 