/* font */
@font-face {
    /* https://www.fontsquirrel.com/ */
    font-family: 'BebasNeue';
    src: url(../font/amaranth-bold-webfont.woff) format('woff');
}

body {
    font: 18px/36px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
    /* overflow-x: hidden; */
}

/* navbar section */
nav {
    display: flex;
    color: #3498db;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    margin-left: 20px;
    font-family: 'Lobster', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #3498db;
}

nav ul li a:hover {
    color: black;
    transition: 0.2s;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
    /* margin-right: 15px; */
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}


/* Home Section */
.home {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: url(../img/back1.jpg);
}

.home img {
    width: 290px;
}

.home h1 {
    font-size: 35px;
}

.home p {
    font-size: 20px;
}

.home .container {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAndSlide 0.8s ease-in-out forwards;
}

/* animasi Home */
@keyframes fadeInAndSlide {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* About section */
.profile {
    align-items: center;
    height: 100vh;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
  }

.aboutme {
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.profiletext {
    grid-column: 1;
    grid-row: 2;
    margin-left: 60px;
    text-align: justify;
}

.profilecici {
    grid-column: 2;
    grid-row: 2;
}

.profilecici img {
    max-width: 60%;
    height: auto; 
    margin-left: 110px;
    border: 3px solid black;
}

  
/* Skills Section */
.skills .container {
    min-height: 98vh;
    padding: 30px 10%;
}

.container .judul-skills {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container .judul-skills h2 {
    position: relative;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
}

.container .judul-skills h2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.container .judul-skills h2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #3498db;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}

.skills .container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.skills .container .row .col {
    flex-basis: 45%;
}

.skills .row .col h3 {
    position: relative;
    color: black;
    font-size: 26px;
    display: inline-block;
    margin-bottom: 30px;
}

.skills .row .col h3::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.skills .row .col h3::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #3498db;
}

.skill .subject {
    font-size: 18px;
    font-weight: thin;
    color: #808080;
    padding-bottom: 15px;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    border-bottom: 20px;
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #3498db;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
}

/* animasi skill pada progress-line */
@keyframes animate {
    100% {
        width: 100%;
    }
}


/* section projects */
.projects {
    padding: 80px 0;
}

.judulprojects {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: -30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.projects .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        padding-left: 40px;
        padding-right: 40px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-align: center;
    flex-grow: 1;
}

.card:hover {
    transform: translateY(-5px);
}

.projects .card .sumber {
    font-size: 10px;
    margin-top: -20px;
    text-align: start;
    margin-left: 10px;
    /* color: #808080; */
}

.isicard {
    height: 290px;
    padding: 20px;
    position: relative;
    flex-grow: 1;
}

.projects img {
    width: 405px;
}

.projects .isicard h4 {
    font-size: 25px;
    font-weight: 500;
    margin: 5px;
}

.projects .isicard p {
    text-align: justify;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: #808080;
}

.projects .card .buttonprojects{
    background-color: #007BFF;
    border-color: #007BFF;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s;
    left: 15%;
    position: relative;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;

}

.projects .card .buttonprojects:hover {
    background-color: #0056b3;
} 


/* Contact Section */
.contact {
    height: 100vh;
    width: auto;
}

.contact h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 50px;
    padding-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #000000;
}

.tempatkontak {
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
    width: 500px;
    margin: 0 auto;
}

.form {
    margin: 10px 0;
}

.form label {
    display: block;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form textarea {
    height: 100px;
}

.buttoncontact {
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

.submit {
    background-color: #007bff;
    color: #fff;
    border-color: #007BFF;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer Section */
.footer {
    padding: 10px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sebelahkiri {
    flex: 1;
}

.sebelahkanan {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.socialmedia {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logososialmedia {
    display: inline-block;
    margin-right: 200px;
    margin-left: -150px;
}

.logososialmedia img {
    width: 20px;
    height: 20px;
}

/* ukuran tablet */
@media screen and (max-width: 768px) {

    /* Navbar Section */
    nav ul {
        width: 50%;
    }

    /* Home Section */
    .home {
        height: 70vh;
    }

    /* profile */
    .profile {
        height: auto;
        padding: 20px;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .aboutme {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .aboutme h2 {
        margin-top: 30px;
        margin-bottom: -30px;
    }

    .profiletext {
        margin-right: 20px;
        margin-left: 20px;
        /* color: #808080; */
    }

    .profilecici img {
        margin-top: 20px;
        margin-left: 20%;
    }

    .profiletext {
        font-size: 16px;
    }

    /* Skills Section */
    .skills .container {
        padding: 30px 8%;
    
    }

    .container .judul-skills {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Projects Section */
    .projects {
        height: auto;
        padding: 20px;
    }

    .projects .container {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .judulprojects {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .projects .card {
        width: 90%;
        margin-right: 20px;
    }

    .card {
        margin-bottom: 20px;
    }

    .projects img {
        width: 550px;
    }

    .projects .card .buttonprojects{
        margin-right: 40px;
    }

    /* Contact Section */
    .contact {
        height: auto;
        padding: 20px;
    }
    
    .contact h2 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    /* Footer Section */
    .footer {
        padding: 10px 0;
    }
    
    .socialmedia {
        justify-content: center;
    }
    
    .logososialmedia {
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
    }
    
    .logososialmedia img {
        width: 30px;
        height: 30px;
    }
}

/* ukuran mobile */
@media screen and (max-width: 568px) {

    /* navbar section */
    nav ul {
        position: static;
        margin-right: 0;
    }
    .menu-toggle {
        display: flex;
        z-index: 10;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 40vh;
        margin-top: 50px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 9;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* home section */
    .home img {
        width: 250px;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
    font-size: 17px;
    }

    /* profile */
    .grid {
        display: flex;
        flex-direction: column;
    }

    .aboutme h2 {
        margin-top: 30px;
        margin-bottom: -30px;
    }

    .profiletext {
        margin-right: 20px;
        margin-left: 20px;
    }

    .profilecici img {
        margin-top: 20px;
    }

    /* skills section */
    .skills .container .row {
        flex-direction: column;
    }

    .container .judul-skills h2 {
        font-size: 36px;
    }

    .skills .container .row {
        margin-top: 30px;
    }

    .skills .container .row .col:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* projects section */
    .projects .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

    .judulprojects {
        margin-top: 10px;
    }

    .projects .card {
        width: 100%;
        margin-right: 70px;
    }

    .card {
        margin-bottom: 10px;
    }

    .projects img {
        width: 440px;
    }

    .projects .card .buttonprojects{
        margin-right: 10px;
    }

    /* contact section */
    .contact h2 {
        width: 100%;
        color: black;
        }

    .tempatkontak {
        width: auto;
      }
    
      .form label {
        width: 100%;
      }
    
      .form input,
      .form textarea {
        margin-bottom: 1rem;
      }
    
      .buttoncontact {
        margin-left: 160px;
      }

      /* footer section */
      .footer .container {
        flex-direction: column;
      }
    
      .logososialmedia {
        margin-top: 5px;
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        display:inline-block;
        text-align: center;
      }
    
      .logososialmedia img {
        width: 30px;
        height: 30px;
      }
    
}
/* ukuran mobile */
@media screen and (max-width: 568px) {

    /* navbar section */
    nav ul {
        position: static;
        margin-right: 0;
    }
    .menu-toggle {
        display: flex;
        z-index: 10;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 40vh;
        margin-top: 50px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 9;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* home section */
    .home img {
        width: 250px;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
    font-size: 17px;
    }

    /* profile */
    .grid {
        display: flex;
        flex-direction: column;
    }

    .aboutme h2 {
        margin-top: 30px;
        margin-bottom: -30px;
    }

    .profiletext {
        margin-right: 20px;
        margin-left: 20px;
    }

    .profilecici img {
        margin-top: 20px;
    }

    /* skills section */
    .skills .container .row {
        flex-direction: column;
    }

    .container .judul-skills h2 {
        font-size: 36px;
    }

    .skills .container .row {
        margin-top: 30px;
    }

    .skills .container .row .col:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* projects section */
    .projects .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

    .judulprojects {
        margin-top: 10px;
    }

    .projects .card {
        width: 100%;
        margin-right: 80px;
    }

    .card {
        margin-bottom: 10px;
    }

    .projects img {
        width: 440px;
        max-width: 100%;
         height: auto;
    }

    .projects .card .buttonprojects{
        margin-right: 10px;

        margin-right: -10px;
        margin-top: 50px;
    }

    /* contact section */
    .contact h2 {
        width: 100%;
        color: black;
        }

    .tempatkontak {
        width: auto;
      }
    
      .form label {
        width: 100%;
      }
    
      .form input,
      .form textarea {
        margin-bottom: 1rem;
      }
    
      .buttoncontact {
        margin-left: 160px;
        max-width: 100%;
      
      /* footer section */
      .footer .container {
        flex-direction: column;
      }
    
      .logososialmedia {
        margin-top: 5px;
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        display:inline-block;
        text-align: center;
      }
    
      .logososialmedia img {
        width: 30px;
        height: 30px;
      }
    
}
@media screen and (max-width: 470px) {
   
    body{
        overflow-x: hidden;
        width: 100%;
    }
    /* navbar section */
    nav ul {
        position: static;
        margin-right: 0;
    }
    .menu-toggle {
        display: flex;
        z-index: 10;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        height: 40vh;
        margin-top: 50px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        z-index: 9;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }

    /* home section */
    .home img {
        width: 250px;
    }

    .home h1 {
        font-size: 28px;
    }

    .home p {
    font-size: 17px;
    }

    /* profile */
    .grid {
        display: flex;
        flex-direction: column;
    }

    .aboutme h2 {
        margin-top: 30px;
        margin-bottom: -30px;
    }

    .profiletext {
        margin-right: 20px;
        margin-left: 20px;
    }

    .profilecici img {
        margin-top: 20px;
    }

    /* skills section */
    .skills .container .row {
        flex-direction: column;
    }

    .container .judul-skills h2 {
        font-size: 36px;
    }

    .skills .container .row {
        margin-top: 30px;
    }

    .skills .container .row .col:nth-child(2) {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    /* projects section */
    .projects .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
      }

    .judulprojects {
        margin-top: 10px;
    }

    .projects .card {
        width: 100%;
        /* margin-right: 70px; */

        margin-right: 80px;
    }

    .card {
        margin-bottom: 10px;
    }

    .projects img {
        /* width: 440px; */
        max-width: 100%;
         height: auto;
        width: 350px;
    }

    .projects .card .buttonprojects{
        margin-right: 10px;

        margin-right: -10px;
        margin-top: 50px;
    }

    /* contact section */
    .contact h2 {
        width: 100%;
        color: black;
        }

    .tempatkontak {
        width: auto;
      }
    
      .form label {
        width: 100%;
      }
    
      .form input,
      .form textarea {
        margin-bottom: 1rem;
      }
    
      .buttoncontact {
        /* margin-left: 160px; */
        /* margin: auto; */
        max-width: 100%;

        margin-left: 115px;

      }
      /* .buttoncontact {
        margin-left: 160px;

        margin-left: 115px;

      } */
      
      /* footer section */
      .footer .container {
        flex-direction: column;
      }
    
      .logososialmedia {
        margin-top: 5px;
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
        display:inline-block;
        text-align: center;
      }
    
      .logososialmedia img {
        width: 30px;
        height: 30px;
      }
    
}